.red-fonce {
    background: #f85656;
}

.evm-columns {
flex: 1; /* additionally, equal width */
padding: 0.5em;
}

.right {
text-align: right;
}

.left {
text-align: left;
}

.center {
text-align: center;
}

.adapt {
text-size-adjust: auto;
}

.visible {
visibility: visible;
}

.hidden {
visibility: hidden;
}