.evm-banner {
    display: flex; /* equal height of the children */
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    overflow: hidden;
    padding: 0.5em;
}

.eth {
    background: #388ee4;
}

.bnb {
    background: #ffe666;
}

.small {
    font-size: small;
}