.evm-custom-tx {
        border-width:1px 2px 3px 2px;
        border-style:solid;
        background: #f5f5f5;
        display: flex;
        justify-content: space-between;
        max-width: auto;
        margin: 1% 20%;
        padding: 10px 0;
}

.test {
    border-width:1px 2px 3px 2px;
    border-style:solid;
    background: rgb(255, 112, 112);
    max-width: auto;
    margin: 1% 20%;
    padding: 10px 10px;
    overflow-wrap: break-word;
}

.evm-columns {
    flex: 1; /* additionally, equal width */
    padding: 0.5em;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.adapt {
    text-size-adjust: auto;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}