.evm-rectangle-red {
    border-width:1px 2px 3px 2px;
    border-style:solid;
    background: #e8a0a0;
    display: flex;
    justify-content: space-between;
    max-width: auto;
    margin: 1% 5%;
    padding: 10px 10px;
}

.evm-rectangle-green {
    border-width:1px 2px 3px 2px;
    border-style:solid;
    background: #0fe60f;
    display: flex;
    justify-content: space-between;
    max-width: auto;
    margin: 1% 5%;
    padding: 10px 10px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}