.evm-transfer {
        border-width:1px 2px 3px 2px;
        border-style:solid;
        background: #0fe6e6;
        display: flex;
        justify-content: space-between;
        max-width: auto;
        margin: 1% 20%;
        padding: 10px 0;
}