.evm-warning {
    border-width:1px 2px 3px 2px;
    border-style:solid;
    background: rgb(255, 112, 112);
    max-width: auto;
    margin: 1% 20%;
    padding: 10px 10px;
    overflow-wrap: break-word;
}